<header>
    <!-- Header desktop -->
    <div class="container-menu-desktop">
        <!-- Topbar -->
        <div class="top-bar">
            <div class="content-topbar flex-sb-m h-full container">
                <div class="left-top-bar">
                    Free shipping for standard order over ₹49999.00
                </div>

                <div class="right-top-bar flex-w h-full">
                    <a href="/users/viewprofile" class="flex-c-m trans-04 p-lr-25">
                        My Account
                    </a>

                    <a href="#" class="flex-c-m trans-04 p-lr-25">
                        EN
                    </a>

                    <a href="#" class="flex-c-m trans-04 p-lr-25">
                        IND
                    </a>
                </div>
            </div>
        </div>

        <div class="wrap-menu-desktop">
            <nav class="limiter-menu-desktop container">
                
                <!-- Logo desktop -->		
                <a href="#" class="logo">
                    <img src="../images/icons/logo-01.png" alt="IMG-LOGO">
                </a>

                <!-- Menu desktop -->
                <div class="menu-desktop">
                    <ul class="main-menu">
                        <li class="active-menu">
                            <a href="#home">Home</a>
                        </li>

                        <li>
                            <a href="#product">Products</a>
                        </li>

                        <li class="label1" data-label1="hot">
                            <a href="#latest">New Arrivals</a>
                        </li>
                        <li>
                            <a href="#brands">Associated Brands</a>
                        </li>
                    </ul>
                </div>	

                <!-- Icon header -->
                <div class="wrap-icon-header flex-w flex-r-m">
                    <div class="icon-header-item cl2 hov-cl1 trans-04  ">
                        <a href="/users/viewcart"><button type="button" class="btn btn-black position-relative">
                            <i  class="zmdi zmdi-shopping-cart zmdi-hc-lg"></i>
                            <% if(cartCount !='') {%>
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                <%=cartCount[0].count%>
                            </span>
                            <% } %> 
                          </button></a>
                    </div>

                    <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 ">

                        <a href="/users/viewwishlist"><button type="button" class="btn btn-black position-relative">
                            <i class="zmdi zmdi-favorite-outline zmdi-hc-lg"></i>
                            <% if(wishlistCount !='') {%>
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                <%=wishlistCount[0].count%>
                            </span>
                            <% } %> 
                          </button></a>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <!-- Header Mobile -->
    <div class="wrap-header-mobile">
        <!-- Logo moblie -->		
        <div class="logo-mobile">
            <a href="#"><img src="../images/icons/logo-01.png" alt="IMG-LOGO"></a>
        </div>

        <!-- Icon header -->
        <div class="wrap-icon-header flex-w flex-r-m m-r-15">
            

            <div class="icon-header-item cl2 hov-cl1 trans-04  ">
                <a href="/users/viewcart"><button type="button" class="btn btn-black position-relative">
                    <i  class="zmdi zmdi-shopping-cart zmdi-hc-lg"></i>
                    <% if(cartCount !='') {%>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        <%=cartCount[0].count%>
                    </span>
                    <% } %> 
                  </button></a>
            </div>
            <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 ">

                <a href="/users/viewwishlist"><button type="button" class="btn btn-black position-relative">
                    <i class="zmdi zmdi-favorite-outline zmdi-hc-lg"></i>
                    <% if(wishlistCount !='') {%>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        <%=wishlistCount[0].count%>
                    </span>
                    <% } %> 
                  </button></a>
            </div>
        </div>

        <!-- Button show menu -->
        <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </div>
    </div>


    <!-- Menu Mobile -->
    <div class="menu-mobile">
        <ul class="topbar-mobile">
            <li>
                <div class="left-top-bar">
                    Free shipping for standard order over ₹49999.00
                </div>
            </li>

            <li>
                <div class="right-top-bar flex-w h-full">
                    <a href="/users/viewprofile" class="flex-c-m trans-04 p-lr-25">
                        My Account
                    </a>

                    <a href="#" class="flex-c-m trans-04 p-lr-25">
                        EN
                    </a>

                    <a href="#" class="flex-c-m trans-04 p-lr-25">
                        IND
                    </a>
                </div>
            </li>
        </ul>

        <ul class="main-menu-m">
            <li>
                <a href="#home">Home</a>
                <span class="arrow-main-menu-m">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
            </li>

            <li>
                <a href="#product">Products</a>
            </li>

            <li>
                <a href="#latest" class="label1 rs1" data-label1="hot">Latest Arrivals</a>
            </li>
            <li>
                <a href="#brands">Associated Brands</a>
            </li>
        </ul>
    </div>    
</header>