<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="/regform/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/regform/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<body onload="document.form1.email.focus()">

    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <form method="POST" name="form1" action="/users/newuser" class="register-form"
                            id="register-form">
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="name" id="name" placeholder="Your Name" required />
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="email" id="email" placeholder="Your Email" required />
                            </div>
                            <!-- <div id="otp" style="display: none;" class="form-group">
                                <label for="otp"><i class="zmdi zmdi-apps"></i></label>
                                <input type="password" name="otp" id="otp" placeholder="Enter OTP" required />
                            </div> -->
                            <div class="form-group">
                                <label for="mobNumber"><i class="zmdi zmdi-phone"></i></label>
                                <input type="number" name="mobNumber" id="" placeholder="Mobile Number" required />
                            </div>
                            <div class="form-group">
                                <label for="password"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="password" id="pass" placeholder="Password" required />
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="password" name="password1" id="re_pass"
                                    placeholder="Repeat your password" />
                                    <input type="hidden" name="userType" value="user">
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register" />
                            </div>
                            
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="/regform/images/signup-image.jpg" alt="sing up image"></figure>
                        <a href="/users/login" class="signup-image-link">I am already member</a>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script>
        // function otpVerify(email) {
        //     console.log('here now...')
        //     $.ajax({
        //         url: '/users/otpsend',
        //         data: {
        //             email:email,
        //         },
        //         method: 'post',
        //         success: (result) => {
        //             alert(result)
        //         }
        //     })
        // }

        // function ValidateEmail(input) {

        //     var validRegex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;

        //     if (input.value.match(validRegex)) {
        //         document.form1.email.focus();
        //         let x = document.getElementById("otp");
        //             x.style.display = "block";
        //         return true;
        //     } else {
        //         alert("Invalid email address!");
        //         document.form1.email.focus();
        //         return false;
        //     }

        // }
        // let a = document.getElementById('email').value;
        // console.log(a);
        // if (a == 'null') {
        //     alert('Provide a email first')
        // } else {
        //     $("#mybtn").click(function () {
        //         $("#otp").show();
        //     });
        // }
        // Function to check Whether both passwords
        // is same or not.
        function checkPassword(form) {
            password1 = form.password.value;
            password2 = form.password1.value;

            // If password not entered
            if (password1 == '')
                alert("Please enter Password");

            // If confirm password not entered
            else if (password2 == '')
                alert("Please enter confirm password");

            // If Not same return False.    
            else if (password1 != password2) {
                alert("\nPassword did not match: Please try again...")
                form.password.value = "";
                form.password1.value = "";
                return false;
            }

            // If same return True.
            else {
                return true;
            }
        }
    </script>
    <!-- JS -->
    <script src="/regform/vendor/jquery/jquery.min.js"></script>
    <script src="/regform/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>