<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="/regform/fonts/material-icon/css/material-design-iconic-font.min.css">
    <!-- Main css -->
    <link rel="stylesheet" href="/regform/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>

    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <%- include('./partials/flash') %>
                    <div style="width: 100%; height: 50px; "></div>
                    <img style="width: 20%; display: block; margin-top: 1em; margin-left: auto; margin-right: auto;"
                        src="../images/icons/logo-01.png" alt="IMG-LOGO">
                        <div id="err" style=" padding: 1.2em; text-align: center;  background-color: rgb(252, 170, 170); display: none; " ><p style="color: red; font-weight: bolder; " >Email Already Exist, Try with another</p></div>
                        <div id="success" style=" padding: 1.2em; text-align: center;  background-color: rgb(189, 236, 175); display: none; " ><p style="color: rgb(65, 163, 8); font-weight: bolder; " >An OTP has sended to your Email</p></div>
                    <div class="signup-content">
                        <div class="signup-form">
                            <p style="font-size: x-large; font-weight: bolder; color: black; ">Create New Account</p>
                            <div id="hideIt">
                                <div class="form-group">
                                    <label for="email"><i class="zmdi zmdi-email"></i></label>
                                    <input type="email" name="email" id="emailfirst" placeholder="Your Email"
                                        required />
                                </div>
                                <div id="hiddendiv" style="display: none;">
                                    <input type="number" name="otp" id="otp" placeholder="Enter OTP here">
                                    <button onclick="validateOTP()"
                                        style=" margin-top: 1em; border-radius: 1em; width: 100%; background-color: rgb(0, 0, 0); color: white; font-family: 'Poppins'; font-style: italic; font-weight: 300;">Verify
                                        Email</button>
                                </div>
                                <div>
                                    <button id="otpsend" type="button" onclick="ValidateEmail()"
                                        style=" border-radius: 1em; width: 100%; background-color: rgb(0, 0, 0); color: white; font-family: 'Poppins'; font-style: italic; font-weight: 300;">Send
                                        OTP</button>
                                </div>
                            </div>

                            <form style="display: none;" method="POST" name="form1" action="/users/newuser"
                                class="register-form" id="register-form">
                                <div class="form-group">
                                    <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                    <input type="text" name="name" id="name" placeholder="Your Name" required />
                                </div>
                                <div class="form-group">
                                    <label for="email"><i class="zmdi zmdi-email"></i></label>
                                    <input type="email" name="email" id="email" readonly placeholder="Your Email"
                                        required />
                                </div>
                                <div class="form-group">
                                    <label for="mobNumber"><i class="zmdi zmdi-phone"></i></label>
                                    <input type="number" name="mobNumber" id="" placeholder="Mobile Number" required />
                                </div>
                                <div class="form-group">
                                    <label for="password"><i class="zmdi zmdi-lock"></i></label>
                                    <!-- <input type="password" name="password" id="pass" placeholder="Password" required /> -->
                                    <input type="password" id="pass" name="password" placeholder="Password"
                                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                        title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                    <input type="password" name="password1" id="re_pass"
                                        placeholder="Repeat your password" />
                                    <input type="hidden" name="userType" value="user">
                                </div>
                                <div class="form-group form-button">
                                    <input type="submit" name="signup" id="signup" class="form-submit"
                                        value="Register" />
                                </div>
                            </form>
                            <a style="margin-top: 2em;" href="/users/login" class="signup-image-link">I am already
                                member</a>
                            <div id="message">
                                <h5>Password must contain the following:</h5>
                                <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                                <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                                <p id="number" class="invalid">A <b>number</b></p>
                                <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                            </div>
                        </div>
                        <div class="signup-image">
                            <figure><img src="/regform/images/register.png" alt="sing up image"></figure>
                        </div>
                    </div>
            </div>
        </section>
    </div>
    <script>
        function otpVerify(email) {
            console.log('here now...')
            $.ajax({
                url: '/users/otpsend',
                data: {
                    email: email,
                },
                method: 'post',
                success: (response) => {
                    if (response.success) {
                        document.getElementById('success').style.display = 'block'; 
                        $('#success').fadeIn('slow').delay(2000).hide(0);
                        let y = document.getElementById("hiddendiv");
                        y.style.display = "block";
                        let x = document.getElementById("otpsend");
                        x.style.display = "none";
                        document.getElementById("emailfirst").readOnly = true;
                    }else{
                        document.getElementById('err').style.display = 'block'; 
                        $('#err').fadeIn('slow').delay(2000).hide(0);
                    }
                }
            })
        }


        function validateOTP() {
            let input = document.getElementById("emailfirst").value;
            let otp = document.getElementById("otp").value;
            if (otp == null || otp == "") {
                alert('Enter OTP to Register')
            } else {
                verification(input, otp)
            }
        }

        function verification(email, otp) {
            $.ajax({
                url: '/users/verifyotp',
                data: {
                    email: email,
                    otp: otp
                },
                method: 'post',
                success: (response => {
                    if (response.verify) {
                        let emailfirst = document.getElementById("emailfirst").value;
                        let x = document.getElementById("email");
                        x.value = emailfirst;
                        document.getElementById('hideIt').style.display = 'none';
                        document.getElementById('register-form').style.display = 'block';

                    }
                })
            })
        }

        function ValidateEmail() {

            var validRegex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;

            let input = document.getElementById("emailfirst").value;
            if (input.match(validRegex)) {
                otpVerify(input)
                return true;
            } else {
                alert("Invalid email address!");
                document.emailfirst.focus();
                return false;
            }

        }
        let a = document.getElementById('email').value;
        console.log(a);
        if (a == 'null') {
            alert('Provide a email first')
        } else {
            $("#mybtn").click(function () {
                $("#otp").show();
            });
        }
        // Function to check Whether both passwords
        // is same or not.
        function checkPassword(form) {
            password1 = form.password.value;
            password2 = form.password1.value;

            // If password not entered
            if (password1 == '')
                alert("Please enter Password");

            // If confirm password not entered
            else if (password2 == '')
                alert("Please enter confirm password");

            // If Not same return False.    
            else if (password1 != password2) {
                alert("\nPassword did not match: Please try again...")
                form.password.value = "";
                form.password1.value = "";
                return false;
            }
            // If same return True.
            else {
                return true;
            }
        }
    </script>
    JS
    <script src="/regform/vendor/jquery/jquery.min.js"></script>
    <script src="/regform/js/main1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>

</html>